<div class="container">
    <div class="row">
        <div class="col-md-8">
            <a href="/">&larr; Back to contacts</a>
            <div class="alert alert-success" ng-if="alert">{{alert}}</div>
            <h1>Create New Contact</h1>
            <form class="form" ng-submit="createContact()">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="firstName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" ng-model="lastName"></input>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" ng-model="email"></input>
                </div>
                <div class="form-group">
                    <label>Street Address</label>
                    <input class="form-control" ng-model="address"></input>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" ng-model="city"></input>
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input class="form-control" ng-model="state"></input>
                </div>
                <div class="form-group">
                    <label>Zip</label>
                    <input class="form-control" ng-model="zip"></input>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input class="form-control" ng-model="phone"></input>
                </div>
                <div class="form-group">
                    <label>Notes</label>
                    <textarea class="form-control" ng-model="notes"></textarea>
                </div>
                <button class="btn btn-primary">Add Contact</button>
            </form>
        </div>
    </div>
</div>